<html>

<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewpoart" content="width = device-width , height = device-height initial-scale = 1.0,
            minimum-scale = 1.0, maximum-scale = 1.0 user-scalable = no " />
	<title>2048 Bocchi</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
	<script type="text/javascript" src="/static/script/game.js"></script>
</head>

<body>
	<div id="tutorial-contenedor">
		<div id="dos">
			<img src="/static/img/aaah.PNG" alt="">
			<p> 2</p>
		</div>
		<div id="dos">
			<img src="/static/img/b.PNG" alt="">
			<p> 4</p>
		</div>
		<div id="dos">
			<img src="/static/img/bocv.PNG" alt="">
			<p>8</p>
		</div>
		<div id="dos">
			<img src="/static/img/thercok.png" alt="">
			<p>16</p>
		</div>
		<div id="dos">
			<img src="/static/img/set.PNG" alt="">
			<p>32</p>
		</div>
		<div id="dos">
			<img src="/static/img/fet.PNG" alt="">
			<p>64</p>
		</div>
		<div id="dos">
			<img src="/static/img/gam1.png" alt="">
			<p>128</p>
		</div>
		<div id="dos">
			<img src="/static/img/gam2.png" alt="">
			<p>256</p>
		</div>
		<div id="dos">
			<img src="/static/img/gam3.png" alt="">
			<p>512</p>
		</div>
		<div id="dos">
			<img src="/static/img/gam4.png" alt="">
			<p>1024</p>
		</div>
		<div id="dos">
			<img src="/static/img/gam5.png" alt="">
			<p>2048</p>
		</div>
		<div id="dos">
			<img src="/static/img/gam6.png" alt="">
			<p>4096</p>
		</div>
		<div id="dos">
			<img src="/static/img/gam7.png" alt="">
			<p>8192</p>
		</div>
	</div>
	<form action="/new_game" method="post">
		<header>
			<span></span>
			<h1>Welcome to 2048 Bocchi</h1>
			<input type="submit" value="New Game" id="newGame()" href="javascript:newGame();">
			<b><p>Score:<span id="score" name="score">0</span></p></b>
			<input type="text" name="nickname" id="nickname" placeholder="Enter a NickName" maxlength="12" required>
			<input type="hidden" name="score-value" id="score-values" value="0">
		</header>
	</form>
	<div id="contenedor">
		<div id="score-div">
			{% for score in scores %}
			<div id="puntuacion">
				<p>{{ score.nickname }}: </p>
				<p>{{ score.score }}</p>
			</div>
			{% endfor %}
		</div>
		<div id="grid-container">
			<div id="grid-cell-0-0" class="grid"></div>
			<div id="grid-cell-0-1" class="grid"></div>
			<div id="grid-cell-0-2" class="grid"></div>
			<div id="grid-cell-0-3" class="grid"></div>
			<div id="grid-cell-1-0" class="grid"></div>
			<div id="grid-cell-1-1" class="grid"></div>
			<div id="grid-cell-1-2" class="grid"></div>
			<div id="grid-cell-1-3" class="grid"></div>
			<div id="grid-cell-2-0" class="grid"></div>
			<div id="grid-cell-2-1" class="grid"></div>
			<div id="grid-cell-2-2" class="grid"></div>
			<div id="grid-cell-2-3" class="grid"></div>
			<div id="grid-cell-3-0" class="grid"></div>
			<div id="grid-cell-3-1" class="grid"></div>
			<div id="grid-cell-3-2" class="grid"></div>
			<div id="grid-cell-3-3" class="grid"></div>
		</div>
		<div id="twitter">
			{% for tweet in tweets %}
			<div id="fondo-contenido">
				<div id="user-a">
					<div id="foto">
						<img src="{{tweet['profile_image']}}" alt="imagen">
					</div>
					<div id="nick-name">
						<p>{{tweet['name']}}</p>
						<p>@{{tweet['user']}}</p>
					</div>
				</div>
				<div id="contenido">
					<p></p>
					<img src="{{tweet['image']}}" alt="imagen">
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>

</html>